//
@use 'bootstrap';

h3 {
    color: tomato;
}

p {
    color: grey;
}

.card {
    width: 300px;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 5px rgb(100, 99, 99);
}

.package_container{
    max-width: 1440px;
}