h3 {
  color: tomato;
}

p {
  color: grey;
}

body {
  background-color: rgba(41, 41, 41, 0.103);
}

.card {
  width: 300px;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgba(109, 107, 107, 0.466);
  border: 2px solid lightgrey;
}
.card img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: 200px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.package_container {
  max-width: 1440px;
  margin: auto;
}

h2 {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
h2:hover {
  color: rgba(0, 0, 0, 0.8);
}
h2:visited {
  color: rgba(0, 0, 0, 0.8);
}